<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Neo4j Movies{% endblock %}</title>
    <link rel="stylesheet" href="http://neo4j-contrib.github.io/developer-resources/language-guides/assets/css/main.css">
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript">
        if (window.location.protocol == "https:") {
            var restOfUrl = window.location.href.substr(6);
            window.location.replace("http:" + restOfUrl);
        }
    </script>
</head>

<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
